body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Modak', cursive;
    font-size: 150px;
    color: saddlebrown;
}

h3 {
    font-family: 'Modak', cursive;
    font-size: 50px;
    color: rgb(94, 44, 9);
}

h4 { 
    font-family: 'Modak', cursive;
    font-size: 45px;
    color: rgb(94, 44, 9);
}

p {
    font-family: 'Indie-flower', cursive;
    font-size: 22px;
    font-weight: bold;
    color: saddlebrown;
}

.numbersWrap {
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 15px;
    padding: 10px 10px 10px 25px;
}

.instructions-wrap {
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 15px;
    padding: 10px;    
    margin-bottom: 10px;
}

.img-thumbnail {
    height: 100px;
    opacity: 1;
    background-color: transparent;
    border: none;
}

.poo-pic {
    text-align: center;
    cursor: pointer;
}

.modal-dialog {
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 15px;
    text-align: center;
}