body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Modak', cursive;
    font-size: 88px;
    color: saddlebrown;
}

h3 {
    font-family: 'Modak', cursive;
    font-size: 40px;
    color: saddlebrown;
}

p {
    font-family: 'Indie-flower', cursive;
    font-size: 22px;
    font-weight: bold;
    color: saddlebrown;
}

.instructions-wrap {
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 15px;
    padding: 10px;    
}